*.[568vq]
*.a
*.cgo1.go
*.cgo2.c
*.exe
*.o
*.so
*.test
.DS_Store
/.hugo_build.lock
/assets/jsconfig.json
/public
/public/
/resources/_gen/
/themes
[568vq].out
_cgo_defun.c
_cgo_export.*
_cgo_gotypes.go
_obj
_test
_testmain.go
hugo.darwin
hugo.exe
hugo.linux
hugo_stats.json
GEMINI.md
.obsidian
