name: Deploy Hugo Site

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: 1. Checkout Hugo Source Code (master branch)
        uses: actions/checkout@v3
        with:
          submodules: true
          fetch-depth: 0

      - name: 2. Setup Hugo
        uses: peaceiris/actions-hugo@v2
        with:
          hugo-version: 'latest'

      - name: 3. Build Hugo Site
        run: |
          # The 'public' directory is created here with the generated static files
          hugo --minify

      - name: 4. Deploy to GitHub Pages (Push to public branch)
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.HUGO_TOKEN }}
          publish_dir: ./public
          publish_branch: public
