name: Deploy to GitHub Pages

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout public branch
        uses: actions/checkout@v3
        with:
          ref: public
          path: ./public

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./public
          # By default, this action pushes to the 'gh-pages' branch.
          # If your GitHub Pages is configured to use a different branch,
          # you can specify it with the 'publish_branch' option.
          # publish_branch: gh-pages